MONGO_URI=mongodb://localhost:27017

REDIS_HOST=redis-cloud.ec2.cloud.redislabs.com
REDIS_PORT=12345
REDIS_USERNAME=default
REDIS_PASSWORD=your_redis_passowrd



PORT=4000
QUEUE_NAME=job-import-queue
WORKER_CONCURRENCY=3
BATCH_SIZE=20
JOB_ATTEMPTS=3
JOB_BACKOFF_MS=1000
ENABLE_REALTIME=true
